* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    gap: 50px;
}
.glass {
    position: relative;
}
.glass .inner {
    position: relative;
    width: 200px;
    height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 40px;
    border: 8px solid #fff;
}